body {
  background-image: url("../Assest/design.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.login {
  color: white;
  left: 20%;
  position: absolute;
}

ul {
  list-style-type: none;
  float: right;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
}

ul li a:hover {
  background-color: #fff;
  color: black;
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

a:hover,
a:active {
  background-color: none;
}

.login input[type="email"],
input[type="password"] {
  background: white;
  height: 30px;
  color: black;
  font-size: 20px;
}

.login input[type="submit"] {
  height: 40px;
  background-color: red;
  font-size: 20px;
  color: white;
  font-family: times;
  border-radius: 20px;
}

#logo {
  float: left;
  height: auto;
  width: 150px;
}

.welcome {
  font-family: courier new;
  font-size: 40px;
  text-align: center;
  color: black;
}

.loginhere {
  font-family: cursive;
  font-size: 30px;
  text-align: center;
  color: brown;
}

.loginbutton {
  width: 20%;
  margin-bottom: 40px;
}

.account {
  font-family: cursive;
  font-size: 30px;
  color: deeppink;
}